.slider {
  width: 100%;
  height: 60vh;
  overflow: hidden;
  position: relative;

  .wrapper {
    height: 100vh;
    transition: 0.5s all linear;
    will-change: transform;
  }

  .arrows {
    position: absolute;
    top: 50%;
    background: none;
    height: 60px;
    border: 0;
    cursor: pointer;
    transition: ease 0.3s all;
    outline: none;

    &.prev {
      left: 0;

      &:hover {
        opacity: 0.7;
        left: -10px;
      }
    }

    &.next {
      right: 0;

      &:hover {
        right: -10px;
        opacity: 0.7;
      }
    }
  }

  .dots-container {
    height: auto;
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
    text-align: center;
    left: 50%;
    bottom: 9px;
    transform: translateX(-50%);
    z-index: 10;
    list-style-type: none;

    li {
      display: inline-block;
      padding: 5px;

      &.active {
        button {
          color: #00d8ff;
        }
      }

      button {
        color: #fff;
        background-color: transparent;
        border: none;

        &:hover {
          text-decoration: none;
          opacity: 0.7;
          cursor: pointer;
        }
      }
    }
  }

  .each-slide {
    width: 100vw;
    height: 70vh;
    float: left;
    line-height: 100vh;
    font-size: 40vh;
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
  }
}
.each-slide img {
  width: 20%;
  height: 100%;
}

@media (max-width: 768px) { 
  .each-slide {
    height: 50vh; 
    font-size: 18px; 
  }
}

@media (max-width: 480px) { 
  .slider {
    height: 40vh;
  }

  .each-slide {
    height: 30vh;
    font-size: 14px; 
  }
}
